apiVersion: hive.openshift.io/v1
kind: ClusterClaim
metadata:
  name: __CLUSTERPOOL_CLUSTER_CLAIM__
  namespace: __CLUSTERPOOL_HOST_NAMESPACE__
  annotations:
    open-cluster-management.io/createmanagedcluster: "__CLUSTERPOOL_AUTO_IMPORT__"
spec:
  clusterPoolName: __CLUSTERPOOL_NAME__
  subjects:
    - kind: Group
      apiGroup: rbac.authorization.k8s.io
      name: '__CLUSTERPOOL_GROUP_NAME__'
