name: update-image-builder

on:
  push:
    branches: [ main ]

jobs:
  update-image-builder:
    runs-on: ubuntu-latest
    steps:
      - name: Push commit to image-builder repo
        run: |
          git clone "https://${{ secrets.PROW_BOT_TOKEN }}@github.com/stolostron/image-builder.git"
          cd image-builder
          git config --global user.email "acm-cicd@redhat.com"
          git config --global user.name "ACM CICD"
          echo "$GITHUB_REPOSITORY@$GITHUB_SHA" > .trigger-openshift-ci
          git commit -am "update .trigger-openshift-ci" --quiet
          git push --quiet
